<fieldset>
  <div id="card_form" data-hook>
    <% param_prefix = "payment_source[#{payment_method.id}]" %>

    <div data-hook="due_date">
      <%= label_tag nil, Spree::BoletoDoc.human_attribute_name(:due_date) %><br />
      <%= text_field_tag "#{param_prefix}[due_date]", '', :class => 'required', :size => 19, :maxlength => 19 %>
      <span class="req">*</span>
      &nbsp;
      <span id="card_type" style="display:none;">
        ( <span id="looks_like" ><%= t(:card_type_is) %> <span id="type"></span></span>
          <span id="unrecognized"><%= t(:unrecognized_card_type) %></span>
        )
      </span>
    </div>
  </div>
</fieldset>
