<p class="download">
	<%= link_to "voltar", order_path(@order.number) %> | <%= link_to "download pdf", order_boleto_docs_path(@order.number, :format => :pdf) %>
</p>
<div class="print">
	<form>
		<input type="button" value="Imprimir" onClick="window.print()">
	</form>
</div>

<% @order.boleto_docs.pending.each do |boleto_doc| %>
	<div class="boleto another-boleto">
		<%= image_tag order_boleto_doc_path(@order.number, boleto_doc, :format => :image), :width => "800" %>
	</div>
<% end %>
