<p class="download">
	<%= link_to "download pdf", boleto_doc_path(@boleto_doc, :format => :pdf) %>
</p>
<div class="print">
	<form>
		<input type="button" value="Imprimir" onClick="window.print()">
	</form>
</div>
<div class="boleto">
	<%= image_tag boleto_doc_path(@boleto_doc, :format => :image), :width => "800" %>
</div>